.Contact-Name{
    font-weight: bold;
    font-size: 118%;
}

.contactImage{
    float: left;
    max-width: 53px;
    width: 100%;
    border-radius: 50%;
}

.contact-details:hover {
    background-color: rgb(56,56,56);
    cursor: pointer;
    
}

.contact-clicked {
    background-color: rgb(56,56,56);

}

.contact-details {
    height: 80px;
}

.contact-icon{
    color: white;
}

.lastMessage {
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
    font-size: smaller;
  }

@media screen and (max-width: 1503px) {
    .lastMessage {
        width: 400px;
    }
}

@media screen and (max-width: 1257px) {
    .lastMessage {
        width: 300px;
    }
}


@media screen and (max-width: 1021px) {
    .lastMessage {
        width: 200px;
    }
}

@media screen and (max-width: 780px) {
    .lastMessage {
        width: 100px;
    }
}

@media screen and (max-width: 530px) {
    .lastMessage {
        width: 75px;
    }
}

.time-ago{
    float: right;
    margin-right: 4px;
    margin-top: 3px;
    font-size: 0.9rem;
}

@media screen and (max-width: 1161) {
    .time-ago {
        font-size: 0.5rem;
    }
}
