.Imessage-reciever{
    background-color: green;
    border-radius: 20px;
    position: relative;
    word-break:break-all;
    color: rgb(0, 0, 0);
}
.Imessage-sender{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
    word-break:break-all;
    color: rgb(0, 0, 0);
}


.left-point{
    
}

.message-time{
    color: rgb(0, 0, 0);
    font-size: 10px;
}

.bubble-wrapper{
    max-width: 50%;
}

.file-message {
    width: 50px;
}


