.user-img{
    max-width: 40px;
    float: left;
    width: 100%;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.user-img-div{
    max-width: 66px;
}
.user-details-box{
    background-color: rgb(39, 39, 39);
}

.btn-modal{
    box-shadow:none !important;
}