.user-img{
    float: left;
    object-fit: cover;
    height:100%;
    width: 55px;
    border-radius: 50%;
}
.name{
    font-weight: bold;
    font-size: 125%;
    margin-left: 15px;
}
.user-img-div{
    height: 80px;
    flex-shrink: 0!important;
}
.user-details-box{
    background-color: rgb(39, 39, 39);
}

.btn-modal{
    box-shadow:none !important;
}