.center{
    width: 50%;
    margin-top:10%
}
.bd{border-style: solid;
    border-width:5px}


.signUpVideo {
    position: absolute;
    z-index: -1;
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    
}