.full-chat-box{
    border: solid;
    border-color: rgb(255, 0, 0);
    height: 100vh;
    position: relative;
}

.test {
    flex-grow: 0
}

.contact-box{
    overflow-y: scroll;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}

.chat-box{
    padding-top: 20px;
}

.contact-content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}



