.full-chat-box{
    border: solid;
    border-color: rgb(255, 0, 0);
    height: 100vh;
    position: relative;
}


.contact-box{
    overflow-y: scroll;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}



.contact-content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.overflow-chat{
    height: 0px;
}

.chat-text{
    overflow-y: auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

