.full-chat-box{
    border: solid;
    border-color: rgb(0, 0, 0);
    height: 100vh;
    position: relative;
}


.contact-box{
    overflow-y: scroll;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}



.contact-content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.overflow-chat{
    height: 0px;
}

.chat-text{
    overflow-y: auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.chat-bg{
    background-color: rgb(22, 20, 20);
}

.contact-char-bg{
    background-image: url("../../../public/Images/chat-background.png");
    background-color: #3f3838;
}

html {
    height: 100%
}
video {
    position: absolute;
    z-index: -1;
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  
}

.contact-bg {
    background-color: rgb(33,33,33);
}